<div class="modal fade" id="revise_order_modal" role="document">
    <div class="modal-dialog">
    <div class="modal-content">
      <%= form_tag pronoun_order_order_review_path(@order) do %>
         <div class="modal-header">
            <button aria-label="Close" class="close" data-dismiss="modal" type="button">
                <span aria-hidden="true">×</span>
            </button>
            <h4 class="modal-title" id="myModalLabel"><%=  %></h4>
         </div>
         <div class="modal-body">
            <p>
               <textarea name="comment_text" rows="15" class="form-control"></textarea>
            </p>
         </div>
         <div class="modal-footer">
            <button class="btn btn-default" data-dismiss="modal" type="button">Close</button>
            <%= submit_tag "Revise", remote: true, class: "btn btn-primary save_submit_order" %>
            <%= submit_tag "Reject", remote: true, class: "btn btn-primary save_submit_order" %>
         </div>
      <% end %>
   </div>
</div>
</div>