<% provide(:title, "Pronoun Orders") %>
<% provide(:body_class, "orders-page") %>

<div class="container">
  <p id="notice"><%= notice %></p>
    <h1>Orders</h1>
    <div>
      <%= render "orders_table" %>
    </div>
  <br>
</div>