<% provide(:title, "Edit #{@company.name}") %>
<% provide(:body_class, "company-page") %>

<div class="container admin-container">
<h1>Editing Company</h1>

<%= render 'form', company: @company %>
</div>