<% provide(:title, "Best Companies") %>
<% provide(:body_class, "company-page") %>

<div class="container">
<p id="notice"><%= notice %></p>

<div class="row">
  <div class="col-md-6">
    <h1>Companies</h1>
  </div>
  <div class="col-md-6">
    <%= link_to 'New Company', new_company_path,class: "new-record btn btn-primary" %>
  </div>
</div>

<table class="table table-striped" id="companies" data-source="<%= companies_url(format: "json") %>">
  <thead>
    <tr>
      <th>No</th>
      <th>Name</th>
      <th>City</th>
      <th>Category</th>
    </tr>
  </thead>

  <tbody>
  </tbody>
</table>

<br>

</div>
