<% provide(:title, "Edit #{@sub_category.name}") %>
<% provide(:body_class, "category-page") %>

<div class="container">
<h1>Editing Sub-Category</h1>

<%= render 'form', sub_category: @sub_category, category: @category %>

<%= link_to 'Show', category_sub_category_path(@sub_category,category_id: @category.slug) %> |
<%= link_to 'Back', @category %>
</div>
