<% provide(:title, "Edit #{@sub_category.name}") %>
<% provide(:body_class, "category-page") %>

<div class="container admin-container">
<h1>Editing Sub-Category</h1>

<%= render 'form', sub_category: @sub_category, category: @category %>
</div>
