<% provide(:title, "New category") %>
<% provide(:body_class, "category-page") %>

<div class="container admin-container">
	<h1>New Sub category</h1>

	<%= render 'form', sub_category: @sub_category,category:  @category %>

	
</div>
