<% provide(:title, "New category") %>
<% provide(:body_class, "category-page") %>

<div class="container">
	<h1>New category</h1>

	<%= render 'form', category: @category %>

	<%= link_to 'Back', companies_path %>
</div>
